button {
  background-color: #4caf50;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #45a049;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

// input number box
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-bottom: 20px;
}

mat-card-header {
  justify-content: center;
}

mat-card {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
